<%= javascript_tag nonce: true do -%>
  function pct(amount, total) {
    if(amount === 0 || total === 0) return "0%";
    return Math.round((amount / total)*100) + "%"
  }
  const stats =  window.stats = <%= @stats.to_json.html_safe %>;

  window.addEventListener("DOMContentLoaded", () => {
    <%= percent("active-posts", "stats.posts.active", "stats.posts.total") %>
    <%= percent("deleted-posts", "stats.posts.deleted", "stats.posts.total") %>
    <%= percent("destroyed-posts", "stats.posts.destroyed", "stats.posts.total") %>

    <%= percent("safe-posts", "stats.posts.ratings.safe", "stats.posts.existing") %>
    <%= percent("questionable-posts", "stats.posts.ratings.questionable", "stats.posts.existing") %>
    <%= percent("explicit-posts", "stats.posts.ratings.explicit", "stats.posts.existing") %>

    <% YiffyAPI.config.max_file_sizes.each do |ext, _limit| %>
      <%= percent("#{ext}-files", "stats.posts.files.#{ext}", "stats.posts.existing") %>
    <% end %>

    <%= percent("unactivated-users", "stats.users.unactivated", "stats.users.total") %>
    <% YiffyAPI.config.levels.reject { |_name, level| level == User::Levels::ANONYMOUS }.each do |name, _level|; name = name.tr(" ", "_").downcase %>
      <%= percent("#{name}-users", "stats.users.#{name}", "stats.users.total") %>
    <% end %>

    <%= percent("active-pools", "stats.pools.active", "stats.pools.total") %>
    <%= percent("inactive-pools", "stats.pools.inactive", "stats.pools.total") %>
    <%= percent("deleted-pools", "stats.pools.deleted", "stats.pools.total") %>
    <%= percent("collection-pools", "stats.pools.collection", "stats.pools.existing") %>
    <%= percent("series-pools", "stats.pools.series", "stats.pools.existing") %>

    <%= percent("active-sets", "stats.sets.active", "stats.sets.total") %>
    <%= percent("deleted-sets", "stats.sets.deleted", "stats.sets.total") %>
    <%= percent("public-sets", "stats.sets.public", "stats.sets.active") %>
    <%= percent("private-sets", "stats.sets.private", "stats.sets.active") %>

    <%= percent("active-comments", "stats.comments.active", "stats.comments.total") %>
    <%= percent("deleted-comments", "stats.comments.deleted", "stats.comments.total") %>
    <%= percent("sticky-comments", "stats.comments.sticky", "stats.comments.active") %>
    <%= percent("hidden-comments", "stats.comments.hidden", "stats.comments.active") %>
    <% Comment.warning_types.each do |name, _type| %>
      <%= percent("warning-#{name}-comments", "stats.comments.warnings.#{name}", "stats.comments.active") %>
    <% end %>

    <%= percent("active-forum-topics", "stats.forum_topics.active", "stats.forum_topics.total") %>
    <%= percent("deleted-forum-topics", "stats.forum_topics.deleted", "stats.forum_topics.total") %>
    <%= percent("sticky-forum-topics", "stats.forum_topics.sticky", "stats.forum_topics.active") %>
    <%= percent("locked-forum-topics", "stats.forum_topics.locked", "stats.forum_topics.active") %>
    <%= percent("hidden-forum-topics", "stats.forum_topics.hidden", "stats.forum_topics.active") %>

    <%= percent("active-forum-posts", "stats.forum_posts.active", "stats.forum_posts.total") %>
    <%= percent("deleted-forum-posts", "stats.forum_posts.deleted", "stats.forum_posts.total") %>
    <%= percent("hidden-forum-posts", "stats.forum_posts.hidden", "stats.forum_posts.active") %>
    <% ForumPost.warning_types.each do |name, _type| %>
      <%= percent("warning-#{name}-forum-posts", "stats.forum_posts.warnings.#{name}", "stats.forum_posts.active") %>
    <% end %>

    <%= percent("active-blips", "stats.blips.active", "stats.blips.total") %>
    <%= percent("deleted-blips", "stats.blips.deleted", "stats.blips.total") %>
    <%= percent("hidden-blips", "stats.blips.hidden", "stats.blips.active") %>
    <% Blip.warning_types.each do |name, _type| %>
      <%= percent("warning-#{name}-blips", "stats.blips.warnings.#{name}", "stats.blips.active") %>
    <% end %>
    <%= percent("empty-tags", "stats.tags.empty", "stats.tags.total") %>
    <% TagCategory.categories.each do |category| %>
      <%= percent("#{category}-tags", "stats.tags.#{category}", "stats.tags.total") %>
    <% end %>
  });
<% end -%>


<div>
  <p>Refreshed once a day.</p>
  <div class='stats-column' id='stats-column-1'>
    <h2>Site</h2>
    <table class='stats-rounded'>
      <%= section("Started", @stats["started"]) %>
    </table>

    <h2>Posts</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["posts"]["total"]) %>
      <%= section("Average Per Day", @stats["posts"]["average_per_day"]) %>
      <%= section("Active", @stats["posts"]["active"], "active-posts") %>
      <%= section("Deleted", @stats["posts"]["deleted"], "deleted-posts") %>
      <%= section("Destroyed", @stats["posts"]["destroyed"], "destroyed-posts") %>
      <%= section("Safe", @stats["posts"]["ratings"]["safe"], "safe-posts") %>
      <%= section("Questionable", @stats["posts"]["ratings"]["questionable"], "questionable-posts") %>
      <%= section("Explicit", @stats["posts"]["ratings"]["explicit"], "explicit-posts") %>

    </table>
    <table class='stats-rounded'>
      <h2>Image files</h2>
      <%= section("Total File Size", humansize(@stats["posts"]["files"]["total_size"])) %>
      <%= section("Average File Size", humansize(@stats["posts"]["files"]["average_size"])) %>
      <% YiffyAPI.config.max_file_sizes.each do |ext, _limit| %>
        <%= section(ext.upcase, @stats["posts"]["files"][ext], "#{ext}-files") %>
      <% end %>
    </table>

    <h2>Pools</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["pools"]["total"]) %>
      <%= section("Average Posts", @stats["pools"]["average_posts"]) %>
      <%= section("Existing", @stats["pools"]["existing"]) %>
      <%= section("Active", @stats["pools"]["active"], "active-pools") %>
      <%= section("Inactive", @stats["pools"]["inactive"], "inactive-pools") %>
      <%= section("Deleted", @stats["pools"]["deleted"], "deleted-pools") %>
      <%= section("Collection", @stats["pools"]["collection"], "collection-pools") %>
      <%= section("Series", @stats["pools"]["series"], "series-pools") %>
    </table>
  </div>

  <div class='stats-column' id='stats-column-2'>
    <h2>Post Sets</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["sets"]["total"]) %>
      <%= section("Average Posts", @stats["sets"]["average_posts"]) %>
      <%= section("Active", @stats["pools"]["sets"], "active-sets") %>
      <%= section("Deleted", @stats["sets"]["deleted"], "deleted-sets") %>
      <%= section("Public", @stats["sets"]["public"], "public-sets") %>
      <%= section("Private", @stats["sets"]["private"], "private-sets") %>
    </table>

    <h2>Users</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["users"]["total"]) %>
      <%= section("Unactivated", @stats["users"]["unactivated"], "unactivated-users") %>
      <% YiffyAPI.config.levels.reject { |_name, level| level == User::Levels::ANONYMOUS }.each do |name, _level|; upname = name; name = name.tr(" ", "_").downcase %>
        <%= section(upname, @stats["users"][name], "#{name}-users") %>
      <% end %>
      <%= section("DMails Sent", @stats["dmails"]["total"]) %>
      <%= section("Average DMails Per Day", @stats["dmails"]["average_per_day"]) %>
    </table>

    <h2>Comments</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["comments"]["total"]) %>
      <%= section("Average Per Day", @stats["comments"]["average_per_day"]) %>
      <%= section("Active", @stats["comments"]["active"], "active-comments") %>
      <%= section("Deleted", @stats["comments"]["deleted"], "deleted-comments") %>
      <%= section("Sticky", @stats["comments"]["sticky"], "sticky-comments") %>
      <%= section("Locked", @stats["comments"]["locked"], "locked-comments") %>
      <%= section("Hidden", @stats["comments"]["hidden"], "hidden-comments") %>
      <% Comment.warning_types.each do |type, _value| %>
        <%= section("Marked For #{type.titleize}", @stats["comments"]["warnings"][type], "warning-#{type}-comments") %>
      <% end %>
    </table>

    <h2>Forums Topics</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["forum_topics"]["total"]) %>
      <%= section("Average Per Day", @stats["forum_topics"]["average_per_day"]) %>
      <%= section("Active", @stats["forum_topics"]["active"], "active-forum-topics") %>
      <%= section("Deleted", @stats["forum_topics"]["deleted"], "deleted-forum-topics") %>
      <%= section("Sticky", @stats["forum_topics"]["sticky"], "sticky-forum-topics") %>
      <%= section("Locked", @stats["forum_topics"]["locked"], "locked-forum-topics") %>
      <%= section("Hidden", @stats["forum_topics"]["hidden"], "hidden-forum-topics") %>
    </table>
  </div>

  <div class='stats-column' id='stats-column-3'>
    <h2>Forums Posts</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["forum_posts"]["total"]) %>
      <%= section("Average Per Day", @stats["forum_posts"]["average_per_day"]) %>
      <%= section("Active", @stats["forum_posts"]["active"], "active-forum-posts") %>
      <%= section("Deleted", @stats["forum_posts"]["deleted"], "deleted-forum-posts") %>
      <%= section("Hidden", @stats["forum_posts"]["hidden"], "hidden-forum-posts") %>
      <% ForumPost.warning_types.each do |type, _value| %>
        <%= section("Marked For #{type.titleize}", @stats["forum_posts"]["warnings"][type], "warning-#{type}-forum-posts") %>
      <% end %>
    </table>

    <h2>Blips</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["blips"]["total"]) %>
      <%= section("Average Per Day", @stats["blips"]["average_per_day"]) %>
      <%= section("Active", @stats["blips"]["active"], "active-blips") %>
      <%= section("Deleted", @stats["blips"]["deleted"], "deleted-blips") %>
      <%= section("Hidden", @stats["blips"]["hidden"], "hidden-blips") %>
      <% Blip.warning_types.each do |type, _value| %>
        <%= section("Marked For #{type.titleize}", @stats["blips"]["warnings"][type], "warning-#{type}-blips") %>
      <% end %>
    </table>

    <h2>Tags</h2>
    <table class='stats-rounded'>
      <%= section("Total", @stats["tags"]["total"]) %>
      <%= section("Empty", @stats["tags"]["empty"], "empty-tags") %>
      <% TagCategory.name_and_header.each do |name, header| %>
        <%= section(header, @stats["tags"][name], "#{name}-tags") %>
      <% end %>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  Stats
<% end %>
